# Ignora archivos de configuración locales
.env
*.iml
.idea/
*.log

# Ignora dependencias locales
target
.settings/

# Ignora control de versiones y sistema de build
.git/
.gitignore

# Ignora archivos temporales
*.swp
*~
